# Dependencies
node_modules

# Build output
.output
.nuxt

# Database & secrets
data
*.db
*.db-shm
*.db-wal
.env
.env.*

# Git & IDE
.git
.gitignore
.idea
.vscode

# Docs & tests
docs
*.md
!README.md
tests
e2e

# Misc
.DS_Store
*.log
tmp
